.hidden-header-container {
    display: none;
}

.hidden-header {
    height: 60px;
    display: flex;
    background: linear-gradient(180deg,rgba(0,0,0,0.9),rgba(0,0,0,0));
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 999;
}

.ham {
    width: 24px;
    height: 1px;
    background: #fff;
    display: block;
    margin: 8px;
}

header {
    height: 120px;
    /* display: flex; */
    position: relative;
    background: linear-gradient(180deg,rgba(0,0,0,0.9),rgba(0,0,0,0));
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 5px;
}

.header-left {
    width: 33.3333%;
}

.header-left ul {
    display: flex;
}

.header-right ul li:hover,
.header-left ul li:hover {
    border-bottom: 2px solid #fff;
}

.earth {
    background: url(../image/earth-black.svg)no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    filter: brightness(0) invert(1);
}

.cellphone {
    background: url(../image/phone-icon-black.svg)no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    filter: brightness(0) invert(1);
}

.location1 {
    background: url(../image/storelocator-black.svg)no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    padding: 10px;
    background-position: center;
    filter: brightness(0) invert(1);
}


.location {
    background: url(../image/storelocator-black.svg)no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    margin: 0 10px;
    filter: brightness(0) invert(1);
}

.header-left ul li a {
    display: flex;
    padding:10px;

}

.header-left ul li a span {
    color: #fff;
    font-size: 14px;
} 

.header-center {
    width: 33.3333%;
    display: flex;
    justify-content: center;
}

.logo {
    width: 88px;
    height: 46px;
}

.logo svg {
    width: 88px;
    height: 46px;
    filter: brightness(0) invert(1);
}

.hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
}

.header-right {
    width: 33.3333%;
    display: flex;
    justify-content: flex-end;

}

.header-right ul {
    display: flex;
}

.search-icon {
    background: url(../image/search-primary.svg) no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    padding: 10px;
    background-position: center;
}

.myimg-icon {
    background: url(../image/header-right-myimg.svg) no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    padding: 10px;
    background-position: center;
}

.start-icon {
    background: url(../image/star.svg) no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    padding: 10px;
    background-position: center;
}

.my-bag-img {
    background: url(../image/header-bag.svg) no-repeat;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1);
    padding: 10px ;
    background-position: center;
}


.down-header-nav {
    display: flex;
    justify-content: center;
}

.down-header-nav ul {
    display: flex;
    width: 502px;
    justify-content: space-between;
}

.down-header-nav ul li {
    height: 30px;
}

.down-header-nav ul li:hover {
    border-bottom: 3px solid #fff;
}

.down-header-nav ul a {
    color: #fff;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 14px;
}

.main-slider-content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 540px;
}

.main-slider-img {
    background: url(../image/main-slider.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    height: 700px;
    z-index: -1;
    position: relative;
}

.arr-prev-img-white,
.arr-prev-img-black {
    background: url(../image/arrow_left-primary.svg);
    background-size: 14px 25px;
    width: 14px;
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    z-index: 999;
}

.arr-prev-img-black {
    left: 35px;
}

.arr-prev-img-white {
    filter: brightness(0) invert(1);
}

.arr-next-img-black,
.arr-next-img-white {
    background: url(../image/arrow_right-thin-black.svg);
    background-size: 14px 25px;
    width: 14px;
    height: 25px;
    position: absolute;
    top: 50%;
    transform: -50%;
    right: 30px;
    z-index: 999;
}

.main-slider-content figure {
    cursor: pointer;
}

.arr-next-img-black {
    right: 35px;
}

.arr-next-img-white{
    filter: brightness(0) invert(1);
}

.main-slider-conten figure:hover {
    cursor: pointer;
}

.main-slider {
    height: 420px;
}

.main-slider-text-box {
    position: absolute;
    top: 435px;
    padding: 60px;
    line-height: 40px;
}

.main-slider-text-box h2 {
    font-size: 29px;
    font-weight: 900;
    color: #fff;
}

.btn-box {
    padding-top: 23px;
}

.main-slider-text-box button {
    width: 134px;
    height: 39px;
    background: #Ffffff;
    outline: none;
    border: none;
    cursor: pointer;
}

.highlight {
    width: 1073px;
    padding: 300px 0 0 0;
    margin: 0 auto;
    height: 273px;
}

.highlight h2 {
    font-size: 29px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 16px;
}

.highlight ul {
    display: flex;
}

.highlight ul li {
    width: 268px;
    height: 220px;
    display: flex;
    /* flex-direction: column; */
}

.highlight-purple-bag {
    background: url(../image/highlights-bag-puple.jpg)no-repeat;
    background-size: 268px;
    width: 268px;
    height: 150px;
    
}

.highlight-shoes {
    background: url(../image/highlights-shoes.jpg) no-repeat;
    background-size: 268px;
    width: 268px;
    height: 150px;
}

.highlight-bag-black {
    background: url(../image/highlights-shoes-man.jpg);
    background-size: 268px;
    width: 268px;
    height: 150px;
}

.highlight-sneakers {
    background: url(../image/highlights-bag-black.jpg);
    background-size: 268px;
    width: 268px;
    height: 150px;
}

.highlight ul li p {
    padding: 20px 25px;
    text-align: center;
    font-size: 14px;
    text-decoration: underline;
}

.highlight ul li p:hover {
    text-decoration: none;
}

.pink-pp-collection {
    max-width: 1073px;
    margin: 0 auto;
}

.pink-pp-collection-img {
    background: url(../image/valentinopinkpp_show-pap-fw2022-23.jpg)no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    max-width: 91%;
    height: 600px;
}

.pink-pp-collection p {
    text-align: center;
    margin-top: 20px;
}

.bold {
    font-weight: 600;
}

.one-stud-bag-main-btn-box,
.pink-pp-collection-btn-box {
    text-align: center;
    margin-top: 20px;
}

.one-stud-bag-main-btn-box > button,
.pink-pp-collection-btn-box > button {
    width: 250px;
    height: 43px;
    border: 1px solid black;
    outline: none;
    background: #fff;
    cursor: pointer;
}

.one-stud-bag-text-box button:hover,
.archive-collection-left button:hover
.new-product-left button:hover,
.new-product-right button:hover,
.text-area button:hover,
.btn-box > button:hover,
.one-stud-bag-main-btn-box > button:hover,
.pink-pp-collection-btn-box > button:hover {
    font-size: 13px;
    font-weight: 600;
}

.one-stud-bag-main {
    width: 100%;
    margin-top: 50px;
}

.woman {
    background: url(../image/woman.jpg)no-repeat;
    width: 100%;
    height: 300px;
    background-attachment: fixed;
    background-position: center;
}

.one-stud-bag-main h2 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    margin-top: 15px;
}

.one-stud-bag {
    width: 1238px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.one-stud-bag ul {
    display: flex;
    justify-content: flex-start;
    padding-top: 40px;
}

.one-stud-bag ul li {
    width: 282px;
    height: 534px;
    margin: 0 40px 0 0;
    justify-content: center;
}

.one-stud-bag-brown {
    background: url(../image/w344.jpg);
    background-size: 282px 353px;
    width: 282px;
    height: 353px;
}

.one-stud-bag-purple {
    background: url(../image/w344-1.jpg);
    background-size: 282px 353px;
    width: 282px;
    height: 353px;
}

.one-stud-bag-blue {
    background: url(../image/w344-2.jpg);
    background-size: 282px 353px;
    width: 282px;
    height: 353px;
}

.one-stud-bag-yellow {
    background: url(../image/w344-3.jpg);
    background-size: 282px 353px;
    width: 282px;
    height: 353px;
}

.arr-right-black {
    background: url(../image/arrow_right-small.svg);
    background-size: 14px 20px;
    width: 14px;
    height: 20px;
    z-index: 999;
    position: absolute;
    top: 50%;
    right: -50px;
    transform: translateY(-50%);
}

.one-stud-bag-text-box {
    text-align: center;
}

.small-title {
    font-size: 11px;
    margin: 10px 0;
}

.one-stud-name {
    font-size: 12px;
    word-spacing: 3px;
    font-weight: 600;
    margin-bottom: 25px;
}   

.price {
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 600;
}

.runway {
    font-size: 12px;
    background: #ddd;
    width: 50px;
    margin: 10px auto 15px auto;
    padding: 3px;
}

.one-stud-bag-text-box button {
    width: 103px;
    height: 43px;
    border: none;
    background: #333;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
}

.sneakers {
    width: 100%;
    padding-top: 24px;
    display: flex;
    flex-wrap: wrap;
}

.sneakers-man-img {
    background: url(../image/sneakers-boy.jpg);
    width: 50%;
    height: 654px;
    background-size: cover;
    background-position: center;
}

.right-sneakers {
    width: 50%;
    height: 654px;
    flex-direction: column;
    justify-content: center;
}

.sneakers-name {
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
    width: 250px;
    margin: 0 auto 29px auto;
}

.sneakers-img {
    background: url(../image/sneakers-img.webp);
    background-size: 325px 411px;
    margin: 0 auto;
    width: 325px;
    height: 411px;
    margin-bottom: 14px;
}

.arr-box {
    position: relative;
    width: 325px;
    height: 411px;
    margin: 0 auto;
}

.sneakers-arr-prev-img-white,
.sneakers-arr-prev-img-black {
    background: url(../image/arrow_left-primary.svg);
    background-size: 14px 25px;
    width: 14px;
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 999;
}

.sneakers-arr-prev-img-black {
    left: 3px;
}

.sneakers-arr-prev-img-white {
    filter: brightness(0) invert(1);
}

.sneakers-arr-next-img-black,
.sneakers-arr-next-img-white {
    background: url(../image/arrow_right-thin-black.svg);
    background-size: 14px 25px;
    width: 14px;
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 999;
}


.sneakers-arr-next-img-black {
    right: 3px;
}

.sneakers-arr-next-img-white{
    filter: brightness(0) invert(1);
}


.text-area {
    width: 324px;
    height: 67px;
    margin: 0 auto;
    text-align: center;
}

.text-area p {
    font-size: 11px;
}

.text-area h2 {
    font-size: 12px;
    margin-top: 20px;
    font-weight: 600;
    word-spacing: 5px;
}

.text-area h3 {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 3px;
     margin-top: 20px;
}

.text-area button {
    width: 250px;
    height: 43px;
    margin: 25px auto 0 auto;
    border: 1px solid black;
    background: none;
    cursor: pointer;
}

.bottom-line {
    width: 1073px;
    height: 1px;
    background: #eee;
    margin-top: 50px;
    margin: 50px auto 0 auto;
}

.new-product {
    width: 1073px;
    padding: 23px 97px 0 97px;
    margin: 0 auto;
}

.new-product-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.new-product-container figure{
    background-size: 523px 600px;
    width: 523px;
    height: 600px;
}

.new-product-left-img {
    background: url(../image/new-arrivals-red.jpg);
}


.new-product h2 { 
    width: 1073px;
    height: 35px;
    margin: 0 auto 17px auto;
    text-align: center;
    font-size: 29px;
    font-weight: 900;
    letter-spacing: 5px;
}

.new-product-left,
.new-product-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-product-left button,
.new-product-right button {
    width: 250px;
    height: 43px;
    margin-top: 20px;
    border: 1px solid #000;
    background: none;
    cursor: pointer;
}

.archive-collection {
    width: 100%;
    height: 527px;
    display: flex;
    padding-top: 50px;
}

.archive-collection-left {
    width: 50%;
    height: 527px;
    background: #efeeeb;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.archive-collection-left h2 {
    font-size: 16px;
    letter-spacing: 3px;
    margin-bottom: 15px;
    font-weight: 600;
} 

.archive-collection-left p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    font-style: italic;
}

.archive-collection-left button {
    width: 250px;
    height: 43px;
    border: 1px solid #000;
    background: #fff;
    cursor: pointer;
}

.archive-collection-right {
    width: 50%;
    height: 572px;
}

.archive-collection-right-img {
    background: url(../image/two-model.jpg);
    width: 100%;
    height: 527px;
    background-size: 100% 527px;
}

.valentino-app {
    width: 1021px;
    height: 246px;
    margin: 30px auto 0 auto;
    display: flex;
    padding: 14px 25px 28px 25px;
    border: 1px solid #ddd;
    align-items: center;
}

.valentino-app-text {
    width: 50%;
}

.valentino-app-text h2 {
    font-weight: 600;
    font-size: 15px;
}

.valentino-app-text p {
    margin: 15px 0;
    font-size: 15px;
}

.valentino-app-text a {
    text-decoration: underline;
}

.gif {
    background: url(../image/gif.gif);
    background-size: 490px 208px;
    width: 490px;
    height: 208px;
}

.delivery-boutique-container {
    display: flex;
    justify-content: center;
    width: 1073px;
    height: 257px;
    margin: 0 auto;
    margin-top: 50px;
    align-items: center;
}

.delivery-content > a figure,
.boutique-content > a figure {
    background-size: 40px 40px;
    width: 40px;
    height: 40px;
    margin: 0 auto;
}

.delivery {
    background: url(../image/delivery.svg)no-repeat;
}

.boutique {
    background: url(../image/boutique.svg)no-repeat;
}

.boutique-content a h2,
.delivery-content a h2 {
    font-weight: 600;
    margin: 20px 0;
}

.boutique-content p,
.delivery-content p {
    margin: 10px 0 ;
}

.boutique-content a,
.delivery-content a {
    text-align: center;
    font-size: 14px;
}

.boutique-content,
.delivery-content {
    width: 338px;
    height: 244px;
    border: 1px solid #ddd;
    border-bottom: 10px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.boutique-content:hover,
.delivery-content:hover {
    border-color: #000;
}

.boutique-content {
    margin-left: 20px;
}

.delivery-content  {
    margin-right: 20px;
}

.newsletter-container {
    width: 100%;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 50px;
}

.newsletter-content {
    width: 1600px;
    height: 83px;
    padding: 35px 119px;
    display: flex;
    border: 1px solid #ddd;
    margin: 35px auto;
}

.newsletter-left {
    width: 50%;
    height: 83px;
    padding-right: 119px;
    border-right: 1px solid #ddd;
}

.newsletter-left h2 {
    font-size: 29px;
    margin-bottom: 15px;
    font-weight: 900;
}

.newsletter-left p {
    font-size: 14px;
    letter-spacing: 1px;
}

.newsletter-right {
    width: 50%;
    height: 83px;
    padding-left: 119px;
}

.newsletter-right h2 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 15px;
}

.set {
    display: flex;
}

.set input {
    width: 280px;
    height: 35px;
    border: 1px solid #000;
    padding-left: 15px;
}

.set button {
    padding: 9.5px;
    border: 1px solid #000;
    background: #000;
    color: #fff;
    margin-left: -6px;
    font-size: 12px;
    letter-spacing: 2px;
}

footer {
    width: 100%;
}

.footer-list {
    width: 1166px;
    height: 403px;
    display: flex;
    margin: 0 auto
}

.footer-list1,
.footer-list2,
.footer-list3 {
    width: 314px;
    height: 363px;
}

.footer-list4 {
    width: 221px;
}

.footer-list ul li {
    margin: 20px 0;
    font-size: 14px;
}

.footer-list-li {
    font-size: 14px;
    font-weight: 600;
}

.footer-icon-ul {
    display: flex;
    flex-wrap: wrap;
    height: 15px;
}

.footer-icon-ul li {
    padding: 0 10px;
}

.footer-icon-ul li a figure {
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    /* padding: 5px 10px; */
    background-position: center;
    margin: 0;
}

.instar {
    background: url(../image/social_instagram-primary.svg);
}

.face {
    background: url(../image/social_facebook-primary.svg);
}

.twitter {
    background: url(../image/social_twitter-primary.svg);
}

.youtube {
    background: url(../image/social_youtube-primary.svg);
}

.spotify {
    background: url(../image/social_spotify-primary.svg);
}

.snapchat {
    background: url(../image/social_snapchat-primary.svg);
}

.pinterest {
    background: url(../image/social_pinterest-primary.svg);
}

.wechat {
    background: url(../image/social_wechat-primary.svg);
}

.weibo {
    background: url(../image/social_weibo-primary.svg);
}

.line {
    background: url(../image/social_line-primary.svg);
}

.kakao {
    background: url(../image/social_kakao-primary.svg);
}

.xiaohogshu {
    background: url(../image/social_xiaohogshu-primary.svg);
}

.hand {
    background: url(../image/social_hand-primary.svg);
}

.tiktok {
    background: url(../image/social_tiktok-primary.svg);
}

.store-location {
    width: 100%;
    display: flex;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.store-location-box {
    width: 741px;
    display: flex;
    padding: 25px 190px 25px 20px;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 600;
}

.store-location-img {
    background: url(../image/storelocator-black.svg);
    width: 18px;
    height: 18px;
    margin-right: 7px;
}

.kr {
    width: 741px;
    display: flex;
    padding: 25px 20px 25px 190px;
    justify-content: flex-start;
    font-size: 14px;
    font-weight: 600;
}

.kr-earth {
    background: url(../image/earth-primary.svg);
    width: 18px;
    height: 18px;
    margin-right: 7px;
}

.ios-android {
    width: 100%;
    display: flex;
    height: 21px;
    padding: 25px 0;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    font-weight: 600;
}

.ios-android a {
    display: flex;
}

.ios-android a figure {
    width: 21px;
    height: 21px;
    background-size: 21px 21px;
    padding: 0 5px;
    margin: 0 5px;
    background-position: center;
}

.ios {
    background: url(../image/footer-ios.svg)no-repeat;
}

.android {
    background: url(../image/footer-android.svg)no-repeat;
}

.museum {
    width: 100%;
    height: 21px;
    padding: 25px 0;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.last-text {
    width: 100%;
    height: 14px;
    font-size: 11px;
    text-align: center;
    padding: 25px 0;
    
}

@media screen and (max-width:1350px){
    .hidden-header-container {
        display: block;
    }

    .header-all {
        display: none;
    }

    .main-slider-content {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 500px;
    }

    .main-slider-img {
        background: url(../image/main-slider.jpg)no-repeat;
        background-position: center;
        background-size: cover;
        height: 500px;
        z-index: -1;
        position: relative;
    }

    .main-slider-text-box {
        position: absolute;
        top: 235px;
        padding: 60px;
        line-height: 40px;
    }
    
    .highlight {
        width: 1073px;
        margin: 0 auto;
        padding: 130px 0 0 0 ;
    }

    .arr-prev-img-white,
    .arr-prev-img-black {
        background: url(../image/arrow_left-primary.svg);
        background-size: 14px 25px;
        transform: rotate(180deg);
        width: 14px;
        height: 25px;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
        z-index: 999;
    }

    .arr-prev-img-black {
        left: 35px;
    }
    
    .arr-prev-img-white {
        filter: brightness(0) invert(1);
    }

    .arr-next-img-black,
    .arr-next-img-white {
        background: url(../image/arrow_right-thin-black.svg);
        background-size: 14px 25px;
        width: 14px;
        height: 25px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 30px;
        z-index: 999;
    }

    .main-slider-content figure {
        cursor: pointer;
    }

    .arr-next-img-black {
        right: 35px;
    }

    .arr-next-img-white{
        filter: brightness(0) invert(1);
    }
}

@media screen and (max-width:1025px) {
    .location1 {
        display: none;
    }

    .myimg-icon {
        display: none;
    }

    .search-icon {
        background: url(../image/search-primary.svg) no-repeat;
        background-size: 24px 24px;
        width: 24px;
        height: 24px;
        padding: 5px 10px;
        filter: brightness(0) invert(1);
        background-position: center;
    }

    .start-icon {
        background: url(../image/star.svg) no-repeat;
        background-size: 24px 24px;
        width: 24px;
        height: 24px;
        filter: brightness(0) invert(1);
        padding: 10px;
        background-position: center;
    }
    
    .my-bag-img {
        background: url(../image/header-bag.svg) no-repeat;
        background-size: 24px 24px;
        width: 24px;
        height: 24px;
        filter: brightness(0) invert(1);
        padding: 10px ;
        background-position: center;
    }
    
    .main-slider-img {
        background: url(../image/main-slider.jpg)no-repeat;
        background-position: cepxnter;
        background-size: cover;
        height: 400px;
        z-index: -1;
        position: relative;
    }

    .main-slider-text-box {
        position: absolute;
        top: 220px;
        padding: 10px 60px;
        line-height: 30px;
    }

    .main-slider-text-box h2 {
        font-size: 18px;
    }

    .highlight {
        width: 1005px;
        margin: 0 auto;
        height: 752px;
    }

    .highlight ul {
        display: flex;
        flex-wrap: wrap;
    }

    .highlight ul li {
        width: 501px;
        height: 289px;
        padding-bottom: 70px;
    }

    .main-slider {
        height: 300px;
    }

    .highlight h2 {
        text-align: center;
        font-size: 18px;
    }

    .highlight-purple-bag {
        background: url(../image/highlights-bag-puple.jpg)no-repeat;
        background-size: 501px 289px;
        width: 501px;
        height: 289px;
        
    }
    
    .highlight-shoes {
        background: url(../image/highlights-shoes.jpg) no-repeat;
        background-size: 501px 289px;
        width: 501px;
        height: 289px;
    }
    
    .highlight-bag-black {
        background: url(../image/highlights-shoes-man.jpg);
        background-size: 501px 289px;
        width: 501px;
        height: 289px;
    }
    
    .highlight-sneakers {
        background: url(../image/highlights-bag-black.jpg);
        background-size: 501px 289px;
        width: 501px;
        height: 289px;
    }

    .pink-pp-collection-img {
        background: url(../image/valentinopinkpp_show-pap-fw2022-23.jpg)no-repeat;
        background-size: cover;
        background-position: center;
        width: 886px;
        height: 498px;
    }

    .woman {
        background: url(../image/woman.jpg)no-repeat;
        width: 100%;
        height: 804px;
        background-attachment: fixed;
        background-position: center;
    }
    
    .media-hidden {
        display: none;
    }

    .one-stud-bag-brown {
        background: url(../image/w344.jpg);
        background-size: 427px 571px;
        width: 457px;
        height: 571px;
    }    
    .one-stud-bag-purple {
        background: url(../image/w344-1.jpg);
        background-size: 427px 571px;
        width: 457px;
        height: 571px;
    }

    .one-stud-bag {
        width: 933px;
        height: 800px;
        margin: 0 auto;
        display: flex;
    }

    .one-stud-bag ul li {
        width: 450px;
        height: 534px;
        margin: 0 40px 0 0;
        justify-content: center;
    }

    .sneakers-man-img {
        background: url(../image/sneakers-boy.jpg);
        width: 100%;
        height: 654px;
        background-size: cover;
        background-position: center;
    }

    .right-sneakers {
        width: 100%;
        height: 654px;
        flex-direction: column;
        justify-content: center;
        position: relative;
    }

    .sneakers-img {
        background: url(../image/sneakers-img.webp);
        background-size: 325px 411px;
        margin: 0 auto;
        width: 325px;
        height: 411px;
        margin-bottom: 14px;
    }

    .new-product {
        margin: 0 auto;
        padding: 0;
    }

    .new-product-left {
        width: 100%;
    }

    .new-product-container figure{
        width: 803px;
        height: 1016px;
        background-size: cover;
    }

    .new-product-left-img {
        background: url(../image/new-arrivals-red.jpg)no-repeat;
    }
    .new-product-left-img {
        background: url(../image/new-arrivals-red.jpg)no-repeat;
    }
        
}